* {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

header {
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  background-position: center center;
  color: white;
  justify-content: space-evenly;
}

h1 {
  text-shadow: -3px 3px 3px #000;
  margin-left: 40px;
  margin-right: 40px;
}


@media screen and (min-width: 560px) {
  h1 {
    margin: 0;
}
}

main {
  margin: 30px 25px 100px 25px;
  border: solid 5px #f2b552;
  border-radius: 40px;
  background-color: white;
  //box-sizing: border-box;
}

@media screen and (min-width: 720px) {
  main {
    margin: 30px 100px 100px 100px;
}
}

@media screen and (min-width: 1020px) {
  main {
    margin: 30px 200px 100px 200px;
}
}

body {
  color: #163A59;
  background-image: url(https://cdn.pixabay.com/photo/2015/12/11/23/13/palm-tree-in-the-storm-1088921_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  padding-top: 20px;
  border-bottom: dashed 2px;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

button {
    background-color: #255959;
    color: #fff;
    height: 50px;
    font-weight: 500;
    border-radius: 10px;
    padding: 0;
    border: 0;
    width: 150;
    width: 150px;
    cursor: pointer;
}

.start-button {
    margin-bottom: 100px;
    margin-top: 30px;
}

p {
    color: #F28552;
    font-weight: 700;
    font-size: larger;
}

footer {
  margin-top: 50px;
  background-color: #023139;
  color: white;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  height: 3.5rem;  
}

footer a {
  color: #f1f227;
}

.test {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 400px;
}

.quiz-status {
  text-align: center;
  color: #163A59;
  padding: 20px 0px;
}

.quiz-area {
  padding: 0 20px 20px 20px;
}

fieldset {
  margin : 10px;;
  color: 163A59;
  border-radius: 15px;
}

.form-radio {
     position: relative;
     top: 10px;
     height: 30px;
     width: 20px;
     //cursor: pointer;     
     margin-right: 7px;
     outline: none;
}

span:hover {
    background-color: #F2D752;
    padding: 5px;
    //width: 30%;
    cursor: pointer;
}

span:focus {
    background-color: #F2D752;
    padding: 5px;
    //width: 30%;
    cursor: pointer;
}


label {
  line-height: 1.5;
  text-align: left;
}

@media screen and (min-width: 250px) {
  span:hover {
    //width: 80%;
}
}

.sec-answer:hover {
    background-color: #F2B552;
}

.third-answer:hover {
    background-color: #F29D52;
}

.fourth-answer:hover {
    background-color: #F28552;
}

.correct {
    padding: 20px;
    margin-left : 10px;
    margin-right: 10px;
}

.wrong {
    padding: 20px;
    margin-left : 10px;
    margin-right: 10px;
}
